<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
 #map {
     position: absolute;
 }
    </style>
</head>
<body>
<img src="../static/images/baby.gif" id="map">
     <script>
         var pic =document.getElementById('map');
         document.addEventListener('mousemove',function (e) {
             var x=e.pageX;
             var y=e.pageY;
             pic.style.left=x+10+'px';
             pic.style.top=y+10+'px';
         });
     </script>
</body>
</html>