<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css">
        *{
            height: 100%;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=G5HoLoRll9Gugi1sa8ceGASeozGQebnl"></script>
    <script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
    <script>
        $(function(){
            navigator.geolocation.getCurrentPosition(translatePoint); //定位
        });
        function translatePoint(position){
            var currentLat = position.coords.latitude;
            var currentLon = position.coords.longitude;
            var gpsPoint = new BMap.Point(currentLon, currentLat);
            BMap.Convertor.translate(gpsPoint, 0, initMap); //转换坐标
        }
        function initMap(point){
//初始化地图
            map = new BMap.Map("map");
            map.addControl(new BMap.NavigationControl());
            map.addControl(new BMap.ScaleControl());
            map.addControl(new BMap.OverviewMapControl());
            map.centerAndZoom(point, 15);
            map.addOverlay(new BMap.Marker(point))
        }
        //使用HTML5地理定位
        function getLocation(){

//检测浏览器是否支持地理定位
            if (navigator.geolocation){
                navigator.geolocation.getCurrentPosition(showPosition,showError);
                //如果getCurrentPosition()运行成功，则向参数showPosition中规定的函数返回一个coordinates对象
                //getCurrentPosition()方法的第二个参数showError用于处理错误。它规定当获取用户位置失败时运行的函数
            }else{
                alert("该设备浏览器不支持地理定位");
            }

        }




        function showPosition(position){

        var Longitude=position.coords.longitude;//HTML5定位获取的经度
        var Latitude=position.coords.latitude;//HTML5定位获取的纬度
         alert(Longitude);
         alert(Latitude);
         var long =114.029137;
         var lat =39.097633;
         var result=0;
         var y=0;
         if((Longitude-long)<0)
         {
             result=long-Longitude;
         }else {
             result=Longitude-long;
         }
            if((Latitude-lat)<0)
            {
                y=lat-Latitude;
            }else {
                y=Latitude-lat;
            }
            var sum=0;
            sum=Math.sqrt((result*result)+(y*y));
            alert(sum);

        //将HTML5定位获取的经纬度，通过百度地图API转换成适应于百度定位的经纬度
        var ggPoint = new BMap.Point(Longitude,Latitude);

        //坐标转换完之后的回调函数
        translateCallback = function (data){
          if(data.status === 0) {
            var map = new BMap.Map();
            console.log(data.points[0]);//转换后新的用户经纬度
            var pointA = new BMap.Point(data.points[0].lng,data.points[0].lat);//用户的经纬度
            var pointB = new BMap.Point(116.442133,39.973766);//从数据库中取出商家的经纬度
            alert('您到商家的距离是：'+(map.getDistance(pointA,pointB)).toFixed(2)+' 米。');  //获取两点距离,保留小数点后两位
          }
        }

        var convertor = new BMap.Convertor();
        var pointArr = [];
        pointArr.push(ggPoint);
        convertor.translate(pointArr, 1, 5, translateCallback)

        }

        function showError(error){
        switch(error.code) {
        case error.PERMISSION_DENIED:
          alert("用户不允许地理定位")
          break;
        case error.POSITION_UNAVAILABLE:
          alert("无法获取当前位置")
          break;
        case error.TIMEOUT:
          alert("操作超时")
          break;
        case error.UNKNOWN_ERROR:
          alert("未知错误")
          break;
        }
        }

        getLocation();
        // 获取距离:

    </script>
</head>
<body>
<div id="map">



</div>
</body>
</html>
